@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Ruda:wght@400;500;600;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Corinthia&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ruda", sans-serif; }

.container-inicio {
  display: grid;
  width: 100%;
  height: 100vh;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 5fr 1fr;
  grid-template-areas: "logo logo logo logo" "quienes-somos fotos clientes contacto"; }

.H {
  width: 30%;
  height: 1px;
  border: 0 none;
  background-color: black; }

.logo {
  grid-area: logo;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url(../../assets/img/portada2.jpg);
  background-position: center;
  background-size: cover; }
  .logo h1 {
    font-family: "Corinthia", cursive;
    font-size: 70px; }

.logo-items {
  display: flex;
  padding: 20px; }
  .logo-items a {
    padding: 20px; }

.quienes-somos {
  grid-area: quienes-somos;
  background-color: #c7d3dd;
  border-radius: 15px;
  box-shadow: 0px 5px 15px black; }

.fotos {
  grid-area: fotos;
  background-color: #e0e9ee;
  border-radius: 15px;
  box-shadow: 0px 5px 15px black; }

.clientes {
  grid-area: clientes;
  background-color: #c7d3dd;
  border-radius: 15px;
  box-shadow: 0px 5px 15px black; }

.contacto {
  grid-area: contacto;
  background-color: #e0e9ee;
  border-radius: 15px;
  box-shadow: 0px 5px 15px black; }

.container-inicio > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .container-inicio > div img {
    width: 50px;
    height: 50px;
    padding: 10px; }
  .container-inicio > div a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }

.container-inicio a:hover {
  color: white;
  font-size: 25px;
  transition: 0.6s; }

.pie-de-pagina {
  color: rgba(141, 138, 138, 0.644);
  background-color: #e0e9ee;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .pie-de-pagina h3 {
    font-size: 15px; }

.navbar {
  width: 100%;
  padding: 0; }

.navbar a:hover {
  font-size: 25px;
  transition: 0.4s; }

.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.nav-item {
  width: 100%; }

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center; }

li:nth-child(5n + 1) {
  background-color: #e0e9ee; }

li:nth-child(5n + 2) {
  background-color: #c7d3dd; }

li:nth-child(5n + 3) {
  background-color: #e0e9ee; }

li:nth-child(5n + 4) {
  background-color: #c7d3dd; }

li:nth-child(5n + 5) {
  background-color: #e0e9ee; }

.main-nosotros {
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: #c7d3dd;
  padding: 30px; }
  .main-nosotros h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px; }

.container-nosotros {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr; }
  .container-nosotros img {
    width: 80%;
    padding: 20px; }
  .container-nosotros p {
    width: 600px;
    height: 500px;
    padding: 0px;
    font-size: 20px;
    padding: 30px; }

.pie-de-pagina-2 {
  width: 100%;
  height: 100px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #c7d3dd; }
  .pie-de-pagina-2 h4 {
    font-size: 20px; }
  .pie-de-pagina-2 img {
    width: 25px;
    height: 25px;
    padding: 0; }
  .pie-de-pagina-2 a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 25px; }

.container-photos {
  width: 100%;
  height: 100vh;
  padding: 0;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "intro ecommers" "intro ambientadas" "intro campañas"; }

.intro {
  grid-area: intro;
  background-color: #e0e9ee; }
  .intro p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 400px;
    padding: 0px;
    font-size: 30px; }

.ecommers {
  grid-area: ecommers;
  background-image: url(./../assets/img/ecommers1.JPG);
  background-position: center;
  background-size: cover; }

.ambientadas {
  grid-area: ambientadas;
  background-image: url(./../assets/img/ambientadas.jpg);
  background-position: center;
  background-size: cover; }

.campañas {
  grid-area: campañas;
  background-image: url(./../assets/img/campañas1.jpg);
  background-position: center;
  background-size: cover; }

.container-photos > div {
  display: grid;
  place-items: center; }

.container-photos a {
  width: 200px;
  border: solid 3px;
  font-size: 20px;
  text-decoration: none;
  color: black;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.container-photos a:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.568); }

.main-cliente {
  width: 100%;
  height: 100%;
  padding: 30px;
  background-color: #c7d3dd; }
  .main-cliente h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: 30px; }

.container-cliente {
  width: 100%;
  height: 100%;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.carta-cliente {
  width: 400px;
  height: 400px;
  padding: 10px; }

img {
  width: 100%; }

p {
  padding: 10px; }

.formulario1 {
  width: 100%;
  height: 100%;
  padding: 50px;
  background-color: #e0e9ee; }
  .formulario1 img {
    width: 50px;
    padding: 10px; }

@media (max-width: 768px) {
  /**TABLET-INICIO**/
  .container-inicio {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "logo logo quienes-somos fotos" "logo logo clientes contacto"; }
  .container-inicio > div a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  /**TABLET-NOSOTROS**/
  .container-nosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  /**TABLET-PHOTO**/
  .container-photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: "intro intro intro" "ecommers ambientadas campañas"; }
  /**TABLET-NAV**/
  .navbar {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: right; } }

@media (max-width: 576px) {
  /**CELULAR-INICIO**/
  .container-inicio {
    font-size: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 1fr 1fr 1fr;
    grid-template-areas: "logo"  "quienes-somos" "fotos" "clientes"  "contacto"; }
  /**CELULAR- NOSOTROS**/
  .container-nosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  /**CELULAR- PHOTO**/
  .container-photos {
    font-size: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 250px 100px 100px 100px;
    grid-template-areas: "intro" "ecommers" "ambientadas" "campañas"; }
    .container-photos p {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
  /**CELULAR-CLIENTES**/
  .container-cliente {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px; }
  .carta-cliente img {
    width: 80%; }
  /**CELULAR-CONTACTO**/
  .formulario1 {
    width: 100%;
    height: 100%;
    padding: 0; } }
