@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Ruda:wght@400;500;600;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ruda", sans-serif; }

.container-inicio {
  display: grid;
  width: 100%;
  height: 100vh;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 3fr 1fr;
  grid-template-areas: "logo logo logo logo" "quienes-somos fotos clientes contacto"; }

.logo {
  grid-area: logo;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url(./../assets/img/portada.jpg);
  background-position: center;
  background-size: cover; }

.logo-items {
  display: flex;
  padding: 20px; }
  .logo-items a {
    padding: 20px; }

.quienes-somos {
  grid-area: quienes-somos;
  background-color: rgba(58, 71, 80, 0.493);
  border-radius: 20px; }

.fotos {
  grid-area: fotos;
  background-color: #eeeeee;
  border-radius: 20px; }

.clientes {
  grid-area: clientes;
  background-color: rgba(0, 172, 181, 0.479);
  border-radius: 20px; }

.contacto {
  grid-area: contacto;
  background-color: rgba(58, 71, 80, 0.438);
  border-radius: 20px; }

.container-inicio > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .container-inicio > div img {
    width: 50px;
    height: 50px;
    padding: 10px; }
  .container-inicio > div a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }

.container-inicio a:hover {
  color: white;
  font-size: 30px;
  transition: 0.4s; }

.pie-de-pagina {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.644);
  background-color: rgba(0, 172, 181, 0.432);
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.navbar {
  width: 100%;
  padding: 0; }

.navbar a:hover {
  font-size: 25px;
  transition: 0.4s; }

.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.nav-item {
  width: 100%; }

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center; }

li:nth-child(5n + 1) {
  background-color: #dbdada; }

li:nth-child(5n + 2) {
  background-color: rgba(58, 71, 80, 0.493); }

li:nth-child(5n + 3) {
  background-color: #eeeeee; }

li:nth-child(5n + 4) {
  background-color: rgba(0, 172, 181, 0.479); }

li:nth-child(5n + 5) {
  background-color: rgba(58, 71, 80, 0.438); }

.container-nosotros {
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: rgba(58, 71, 80, 0.493);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr; }
  .container-nosotros div {
    margin: 20px;
    display: grid;
    place-items: center; }
    .container-nosotros div img {
      width: 80%; }
    .container-nosotros div p {
      font-size: 20px; }

.pie-de-pagina-2 {
  width: 100%;
  height: 100px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 172, 181, 0.479); }
  .pie-de-pagina-2 img {
    width: 20px;
    height: 20px;
    padding: 0; }
  .pie-de-pagina-2 a {
    padding: 30px; }

.container-photos {
  width: 100%;
  height: 100vh;
  padding: 0;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "intro ecommers" "intro ambientadas" "intro campañas"; }

.intro {
  grid-area: intro;
  background-color: #eeeeee; }
  .intro p {
    width: 300px;
    height: 300px;
    padding: 0;
    font-size: 30px; }

.ecommers {
  grid-area: ecommers;
  background-image: url(./../assets/img/ecommers1.JPG);
  background-position: center;
  background-size: cover; }

.ambientadas {
  grid-area: ambientadas;
  background-image: url(./../assets/img/ambientadas.jpg);
  background-position: center;
  background-size: cover; }

.campañas {
  grid-area: campañas;
  background-image: url(./../assets/img/campañas1.jpg);
  background-position: center;
  background-size: cover; }

.container-photos > div {
  display: grid;
  place-items: center; }

.container-photos a {
  width: 200px;
  border: solid 3px;
  font-size: 20px;
  text-decoration: none;
  color: black;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.container-photos a:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.568); }

.cliente {
  width: 100%;
  height: 100vh;
  padding: 0;
  background-color: rgba(0, 172, 181, 0.479); }

.formulario1 {
  width: 100%;
  height: 100vh;
  padding: 50px;
  background-color: rgba(58, 71, 80, 0.438); }

@media (max-width: 768px) {
  /**TABLET-INICIO**/
  .container-inicio {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "logo logo quienes-somos fotos" "logo logo clientes contacto"; }
  /**TABLET-PHOTO**/
  .container-photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: "intro intro intro" "ecommers ambientadas campañas"; }
  /**TABLET-NAV**/
  .navbar {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: right; } }

@media (max-width: 576px) {
  /**CELULAR-INICIO**/
  .container-inicio {
    font-size: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 1fr 1fr 1fr;
    grid-template-areas: "logo"  "quienes-somos" "fotos" "clientes"  "contacto"; }
  /**CELULAR- PHOTO**/
  .container-photos {
    font-size: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 250px 100px 100px 100px;
    grid-template-areas: "intro" "ecommers" "ambientadas" "campañas"; }
  /**CELULAR-CONTACTO**/
  .formulario1 {
    width: 100%;
    height: 100%;
    padding: 0; } }
