@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400;500;600;800;900&display=swap');
$fontRuda: 'Ruda', sans-serif;




$background-inicio: rgb(219, 218, 218);
$background-quienes-somos: rgba(58, 71, 80, 0.493);
$background-photos: rgb(238, 238, 238);
$background-clientes: rgba(0, 172, 181, 0.479);
$background-contacto: rgba(58, 71, 80, 0.438);