@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400;500;600;800;900&display=swap');
$fontRuda: 'Ruda', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Corinthia&display=swap');
$fontCorintia:'Corinthia', cursive;




$background-inicio: #e0e9ee;
$background-quienes-somos: #c7d3dd;
$background-photos: #e0e9ee;
$background-clientes: #c7d3dd;
$background-contacto: #e0e9ee;