.container-inicio{
    display: grid;
    @include medidas (100%,100vh,0);
    @include grid (repeat(4, 1fr), 5fr 1fr);

    grid-template-areas:
        "logo logo logo logo"
        "quienes-somos fotos clientes contacto"
    ;
}

.H{
    width: 30%;
    height: 1px;
    border: 0 none;
    background-color: black;

}

.logo{
    grid-area: logo;
    @include prop-flex (row,center,center);

    background-image: url(../../assets/img/portada2.jpg);
    @include back-position (center, cover);

    h1{
        font-family: $fontCorintia;
        font-size: 70px;
    }

}

.logo-items{
    display: flex;
    padding: 20px;

    a{
        padding: 20px;
    }
}


.quienes-somos{
    grid-area: quienes-somos;
    background-color: $background-quienes-somos;
    border-radius: 15px;
    box-shadow: 0px 5px 15px black;
}

.fotos{
    grid-area: fotos;
    background-color: $background-photos;
    border-radius: 15px;
    box-shadow: 0px 5px 15px black;
}

.clientes{
    grid-area: clientes;
    background-color: $background-clientes;
    border-radius: 15px;
    box-shadow: 0px 5px 15px black;
}

.contacto{
    grid-area: contacto;
    background-color: $background-contacto;
    border-radius: 15px;
    box-shadow: 0px 5px 15px black;
}

.container-inicio >div{

   @include prop-flex (column,center,center);

   img{
    @include medidas(50px,50px,10px);
    }
    a{
        text-decoration: none;
        color: black;
        font-size: 20px;
        @include prop-flex (row,center,center);
    }
}

.container-inicio a:hover{
    color: white;
    font-size: 25px;
    transition: 0.6s;
}
