.pie-de-pagina-2{
    @include medidas (100%,100px,0);

    @include prop-flex (row,center,center);
    background-color: $background-clientes;

    h4{
        font-size: 20px;
        
    }
    
    img{
        @include medidas (25px,25px,0);
    }
    a{
        @include prop-flex (row,center,center);
        padding: 25px;
    }

}


