.pie-de-pagina{
    color: rgba(141, 138, 138, 0.644);
    background-color: $background-inicio;
    padding: 10px;
    @include prop-flex (row,center,center);

    h3{
        font-size: 15px;
    }
  
    }