.navbar{
    width: 100%;
    padding: 0;
}

.navbar a:hover{
    font-size: 25px;
    transition: 0.4s;
}


.navbar-nav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item{
    width: 100%;
}

.nav-link{
    display: flex;
    justify-content: center;
    align-items: center;
}

li:nth-child(5n + 1){
    background-color: $background-inicio;
}

li:nth-child(5n + 2){
    background-color: $background-quienes-somos;
}
li:nth-child(5n + 3){
    background-color: $background-photos;
}
li:nth-child(5n + 4){
    background-color: $background-clientes;
}
li:nth-child(5n + 5){
    background-color: $background-contacto;
}
