.main-nosotros{
    @include medidas (100%,100%,0);
    background-color: $background-quienes-somos;
    padding: 30px;

    h2{
        @include prop-flex(row,center,center);
        padding: 40px
    }
   
}

.container-nosotros{
    @include grid (1fr 1fr,1fr 1fr);

  

    img{
        width:80%;  
        padding: 20px;
    }

    p{
     
        @include medidas (600px,500px,0px);
        font-size: 20px;
        padding: 30px;
    }
}
